input,
textarea {
	font-size: var(--font-size-form);
	background: var(--color-light);
	text-align: left;
	display: block;
	width: 100%;
	border: none;
	outline: none;
	padding: 18px 20px;
	margin: 15px 0;
	border-radius: 4px;
}
textarea {
	height: 100px;
}
input[type="submit"] {
	background: var(--color-dark);
	color: var(--color-light);
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
}
input[type="number"] {
	-moz-appearance: textfield;
}
::placeholder {
	color: var(--color-light-grey);
	opacity: 1;
}
:-ms-input-placeholder {
	color: var(--color-light-grey);
}
::-ms-input-placeholder {
	color: var(--color-light-grey);
}

/* Customize the label (the container__radio) */
/* 
	<label class="container__radio"> Text
		<input type="radio" name="radio">
		<span class="radiobtn"></span>
	</label>
 */
.container__radio {
	display: block;
	position: relative;
	padding-left: 26px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.radiobtn {
		position: absolute;
		top: 0;
		left: 0;
		height: 16px;
		width: 16px;
		background-color: #fff;
		border-radius: 50%;
		border: 2px solid #31343e;
		&:after {
			content: "";
			position: absolute;
			display: none;
			top: 2px;
			left: 2px;
			width: 8px;
			height: 8px;
			border-radius: 50%;
			background: #31343e;
		}
	}
	&:hover input ~ .radiobtn {
		background-color: #ccc;
	}
	input:checked ~ .radiobtn {
		background-color: #fff;
		&:after {
			display: block;
		}
	}
}

/* Customize the checkbox */
/*
	<label class="checkbox__container">1+
		<input type="checkbox" checked="checked">
		<span class="checkmark"></span>
	</label>
 */
.checkbox__container {
	display: block;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	font-size: 14px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}
	.checkmark {
		position: absolute;
		top: 0;
		left: 0;
		height: 20px;
		width: 20px;
		background-color: transparent;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 4px;
		&:after {
			content: "";
			position: absolute;
			display: none;
			left: 7px;
			top: 2px;
			width: 6px;
			height: 12px;
			border: solid var(--color-accent);
			border-width: 0 2px 2px 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}
	}
	&:hover .checkmark {
		background-color: transparent;
		border: 1px solid var(--color-light);
	}
	input:checked ~ .wpcf7-list-item-label .checkmark {
		background-color: var(--color-light);
		border-color: transparent;
		&:after {
			display: block;
		}
	}
}
label {
	transition: color 0.3s ease-in-out;
	&:hover {
		color: var(--black-60);
	}
}

input[type="checkbox"] {
	position: absolute;
	z-index: -1;
	opacity: 0;

	&:checked + label {
		font-weight: 700;
	}

	&:checked + label::before {
		border-color: var(--blue-100);
		background-color: var(--blue-100);
		background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDEwIDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0xIDQuMDAwMDlMNC4yODU3MSA3LjAwMDA5TDkgMS4wMDAwOSIgc3Ryb2tlPSJ3aGl0ZSIvPgo8L3N2Zz4K");
		background-repeat: no-repeat;
		background-position: 50% 50%;
	}

	& + label {
		display: inline-flex;
		align-items: center;
		user-select: none;
		cursor: pointer;
		white-space: nowrap;

		&::before {
			content: "";
			display: inline-block;
			width: 16px;
			height: 16px;
			border: 1px solid var(--black-40);
			border-radius: 2px;
			margin-right: 6px;
		}
	}
}
/* Customize the select*/
/*<div class="custom-select">
	<select name="" id="">
		<option value="">0 ₽ — 1000 ₽</option>
		<option value="">1000 ₽ — 2000 ₽</option>
	</select>
</div>*/
.custom-select {
	position: relative;
	font-weight: bold;
	font-size: 18px;
	width: 260px;
	select {
		display: none;
	}
	.select-selected {
		background-color: #fff;
		height: 48px;
		border-radius: 5px;
		&:after {
			content: "";
			position: absolute;
			top: 20px;
			right: 22px;
			display: block;
			width: 10px;
			height: 7px;
			background: url("../images/icons/select.svg") 0 0 no-repeat;
		}
	}
	.select-selected.select-arrow-active {
		border-radius: 5px 5px 0 0;
		border: 1px solid #31343e;
		border-bottom: none;
		&:after {
			border-color: transparent transparent #fff transparent;
			top: 20px;
		}
	}
	.select-items div,
	.select-selected {
		color: #31343e;
		padding: 10px 16px;
		border: 1px solid transparent;
		cursor: pointer;
	}
	.select-items {
		position: absolute;
		background-color: #fff;
		top: 100%;
		left: 0;
		right: 0;
		z-index: 99;
		border-radius: 0 0 5px 5px;
		border: 1px solid #31343e;
		border-top: none;
	}
	.select-hide {
		display: none;
	}
	.select-items div:hover,
	.same-as-selected {
		background-color: rgba(49, 52, 62, 0.07);
	}
}
