.header{
	&__supertop{
		color: var(--color-dark);
		background-color: rgba(254, 197, 51, 0.15);
		font-size: var(--font-size-main);
		font-weight: bold;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 15px;
	}
	&__top{
		border-top: 1px solid rgba(2, 2, 10, 0.1);
		border-bottom: 1px solid rgba(2, 2, 10, 0.1);
		.container{
			height: 54px;
			display: flex;
			align-items: center;
		}
		.logo{
			display: flex;
			align-items: center;
			margin-right: 60px;
			font-size: 12px;
			line-height: 12px;
			img{
				margin-right: 10px;
			}
		}
		.city{
			.active{
				display: flex;
				align-items: center;
				font-size: 14px;
				margin-right: 60px;
				width: 125px;
				svg{
					margin-right: 6px;
				}
			}
		}
		.menu{
			ul{
				display: flex;
				align-items: center;
				grid-gap: 34px;
				li{
					a{
						display: flex;
						align-items: center;
						svg{
							color: var(--color-accent);
							margin-left: 8px;
							margin-top: 2px;
						}
					}
				}
			}
		}
		.phones{
			margin-left: auto;
			a{
				font-weight: bold;
				font-size: 16px;
				display: flex;
				align-items: center;
				svg{
					color: var(--color-accent);
					margin-left: 8px;
					margin-top: 2px;
				}
			}
		}
		.account{
			height: 100%;
			margin-left: 30px;
			.profile{
				height: 100%;
				width: 55px;
				display: flex;
				align-items: center;
				justify-content: center;
				border-left: 1px solid #E6E6E7;
				border-right: 1px solid #E6E6E7;

			}
		}
	}
	&__bottom{
		padding: 20px 0;
		.container{
			display: flex;
			align-items: center;
			.logo{
				margin-right: 92px;
			}
			.catalog{
				margin-right: 30px;
			}
			.search{
				max-width: 556px;
				width: 100%;
				form{
					display: flex;
					align-items: center;
					border-bottom: 1px solid #CCCCCE;
					height: 52px;
					input[type="text"]{
						padding: 0 12px;
						height: 100%;
						background-color: transparent;
						font-size: 14px;
						color: #B3B3B6;
					}
					input[type="submit"]{
						height: 100%;
						width: 44px;
						display: flex;
						align-items: center;
						justify-content: center;
						background: url(../images/icons/search.svg) center no-repeat transparent;
					}
				}
			}
			.tools{
				margin-left: auto;
				display: flex;
				align-items: center;
				grid-gap: 25px;
				a{
					position: relative;
					display: flex;
					align-items: center;
				}
				.cart{
					span{
						display: flex;
						align-items: center;
						justify-content: center;
						width: 15px;
						height: 15px;
						background: var(--yellow-100);
						font-weight: bold;
						font-size: 8px;
						line-height: 1;
						border-radius: 50%;
						position: absolute;
						top: 1px;
						right: 1px;
					}
				}
			}
		}
	}
}