.page-block {
	margin: 100px auto;
	position: relative;
	&_hero{
		position: relative;
		overflow: hidden;
		margin: 0;
		@media (max-width: 798px) {
			height: 360px;
		}
	}
	&_sections {
		padding-top: 50px;
		margin: 50px auto 100px auto;
		@media (max-width: 1110px) {
			padding-top: 35px;
			margin: 35px auto 70px auto;
		}
	}
	&_collections {
		position: relative;
		overflow: hidden;
		@media (max-width: 768px) {
			padding-top: 6px;
		}
	}	
}
.site-main .slick-dots {
	position: relative;
	padding: 0;
	margin: 0;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	grid-gap: 5px;
	li {
		margin: 0;
		height: 1.2px;
		width: 100%;
		background-color: var(--black-10);
		button {
			width: 100%;
			height: 100%;
			padding: 0;
			&::before {
				display: none;
			}
		}
		&.slick-active {
			background-color: var(--color-accent);
		}
	}
}
.slider-arrows {
	display: flex;
	align-items: center;
	grid-gap: 20px;
	.slick-prev,
	.slick-next {
		width: 48px;
		height: 48px;
		display: flex;
		justify-content: center;
		align-items: center;
		color: var(--color-dark);
		border: 1px solid var(--color-dark);
		border-radius: 50%;
		z-index: 1;
		background: #fff;
		position: relative;
		top: auto;
		left: auto;
		right: auto;
		transform: none;
		&::before {
			display: none;
		}
		&:hover {
			color: var(--color-accent);
			border: 1px solid var(--color-accent);
		}
	}
	.slick-prev {
		svg {
			transform: rotate(180deg);
		}
	}
	@media (max-width: 768px) {
		grid-gap: 15px;
		.slick-prev,
		.slick-next {
			width: 40px;
			height: 40px;
		}
	}
}
.slick-list {
	padding-bottom: 15px;
}


/* BEM  */

.category-video-list{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px;
	&__item {
		padding: 30px;
		border: 1px solid #e6e6e7;
		position: relative;
		&:hover {
			box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.2);
		}
	}
	&__item_colspan-2 {
		grid-column: 2 span / auto;
		background: var(--color-background);
		padding: 40px;
		border: 1px solid transparent;
	}
	&__item-icon {
		display: block;
		margin-bottom: 15px;
	}
	&__item-title {
		display: block;
		font-weight: 700;
		font-size: 22px;
		margin-bottom: 10px;
	}
	&__item-subtitle {
		display: block;
		padding-right: 12px;
	}
	&__item-icon-youtube {
		position: absolute;
		bottom: 25px;
		right: 20px;
	}
	@media (min-width: 1110px) {
		&__item_deskcolspan-2 {
			grid-column: 2 span / auto;
			background: var(--color-background);
			padding: 40px;
			border: 1px solid transparent;
		}
	}
	@media (max-width: 1110px) {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
		&__item{
			padding: 25px;
		}
		&__item_mobcolspan-2 {
			grid-column: 2 span / auto;
			background: var(--color-background);
			padding: 40px;
			border: 1px solid transparent;
		}
		&__item_colspan-2 {
			padding: 25px;
		}
		&__item-icon-youtube {
			bottom: 20px;
			right: 15px;
		}
	}
	@media (max-width: 798px) {
		grid-template-columns: repeat(1, 1fr);
		&__item {
			padding: 25px;
		}
		&__item_mobcolspan-2 {
			grid-column: 1 span / auto;
			padding: 25px;
			border: 1px solid #e6e6e7;
			background-color: transparent;
		}
		&__item_colspan-2 {
			grid-column: 1 span / auto;
			padding: 25px;
			border: 1px solid #e6e6e7;
			background-color: transparent;
		}
		&__item-icon-youtube {
			bottom: 20px;
			right: 15px;
		}
	}
}
.intro-section{
	margin: 0 auto;
	position: relative;
	&__arrow {
		position: absolute;
		left: 6.2%;
		bottom: 10%;
		width: 15px;
		height: 70px;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	&__logo {
		position: absolute;
		right: 6.2%;
		bottom: 10%;
		color: #fff;
		max-width: 222px;
		text-align: center;
		line-height: 1.6;
		img {
			width: 100px;
			height: 15px;
			position: relative;
			top: 4px;
		}
	}
	&__img {
		display: block;
		width: 100%;
		&_mobile{
			display: none;
		}
	}
	&__content {
		position: absolute;
		max-width: 747px;
		width: 100%;
		top: 0;
		left: 6.2%;
		padding-top: 75px;
	}
	&__content-title {
		color: var(--color-light) !important;
		font-weight: bold !important;
		font-size: 58px !important;
		line-height: 1.12;
		margin-bottom: 30px;
	}
	&__content-description {
		color: var(--color-light);
		font-size: 16px;
		line-height: 1.3;
		margin-bottom: 40px;
		max-width: 510px;
	}
	&__lnk {
		display: block;
		font-weight: 700;
		font-size: 14px;
		color: var(--color-light);
		position: absolute;
		width: 27.7%;
		height: 28%;
		padding: 30px;
		&:hover {
			span {
				background-color: #dfa001;
			}
		}
		span {
			transition: all 0.3s ease-in-out;
			width: 48px;
			height: 48px;
			position: absolute;
			right: 20px;
			bottom: 20px;
			border-radius: 50%;
			background: #fec533;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-dark);
		}
		&_1{
			top: 0;
			right: 6.3%;
		}
		&_2{
			top: 32.7%;
			right: 6.3%;
			color: var(--color-dark);
		}
		&_3{
			top: 61%;
			right: 36%;
		}
	}
	@media (max-width: 1110px) {
		&__arrow {
			position: absolute;
			left: 15px;
			bottom: 8%;
			width: 15px;
			height: 70px;
		}
		&__content {
			max-width: 550px;
			left: 15px;
			padding-top: 50px;
		}
		&__content-title {
			font-size: 42px !important;
		}
		&__content-description {
			margin-bottom: 30px;
		}
		&__lnk {
			padding: 15px;
			span {
				width: 36px;
				height: 36px;
				right: 10px;
				bottom: 10px;
			}
		}
	}
	@media (max-width: 992px) {
		&__arrow, &__logo {
			display: none;
		}
	}
	@media (max-width: 798px) {
		height: 100%;
		&__img {
			height: 100%;
			object-fit: cover;
		}
		&__img_desktop, &__lnk {
			display: none;
		}
		&__img_mobile {
			display: block;
		}
		&__content {
			max-width: 380px;
			padding-right: 30px;
		}
		&__content-title {
			font-size: 28px !important;
		}
		&__content-description {
			font-size: 14px;
		}
	}
}
.warranties-section {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
	&__title {
		font-size: var(--font-size-title) !important;
		max-width: 900px;
		grid-column: 3 span / auto;
		line-height: 1.2;
		margin-bottom: 70px;
	}
	&__item {
		position: relative;
		border: 1px solid #e6e6e7;
		padding: 100px 40px 40px 40px;
	}
	&__item-icon {
		background: #fff;
		position: absolute;
		top: -65px;
		left: 40px;
	}
	&__item-subtitle {
		margin-bottom: 15px;
	}
	@media (max-width: 1024px) {
		&__item {
			padding: 70px 30px 30px 30px;
		}
		&__item-icon {
			width: 90px;
			height: 90px;
			top: -45px;
			left: 30px;
		}
	}
	@media (max-width: 768px) {
		grid-template-columns: repeat(1, 1fr);
		grid-gap: 60px 20px;
		&__title {
			grid-column: 1 span / auto;
			margin-bottom: 40px;
		}
		&__item {
			padding: 60px 30px 30px 30px;
		}
	}
}
.new-products-slider {
	display: flex;
	grid-gap: 80px;
	&__images {
		width: 50%;
		.slick-track {
			display: flex;
			align-items: stretch;
		}
	}
	&__images-item {
		height: auto;
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			max-height: 710px;
		}
	}
	&__content {
		width: 50%;
		padding-left: 40px;
		position: relative;
		display: flex;
		.slider-arrows {
			position: absolute;
			bottom: 60px;
		}
	}
	&__content-wrapper {
		max-width: 275px;
		margin: 60px auto 0;
	}
	&__content-title {
		font-size: var(--font-size-title) !important;
		line-height: 1.2;
		margin-bottom: 30px;
		position: relative;
		left: 1px;
		svg {
			position: absolute;
			left: -11px;
			top: -6px;
		}
	}
	&__content-txt {
		margin-bottom: 40px;
	}
	&__content-all {
		color: #0075c9;
		font-weight: 700;
		transition: opacity 0.3s ease-in-out;
		&:hover {
			opacity: 0.7;
		}
	}
	&__products {
		width: 292px;
		background-color: var(--color-light);
	}
	.product-preview {
		&__image-wrapper{
			height: unset;
		}
		&:hover {
			position: relative !important;
		}
	}
	@media (max-width: 1200px) {
		&__images-item {
			img {
				min-height: 660px;
			}
		}
	}
	@media (max-width: 1080px) {
		flex-direction: column;
		grid-gap: 0;
		.slider-arrows {
			display: none;
		}
		&__images {
			height: 550px;
			padding-right: 145px;
			width: 100%;
			overflow: hidden;
		}
		&__content {
			order: -1;
			width: 100%;
			padding-left: 10px;
		}
		&__content-wrapper {
			max-width: 100%;
			margin: 0 auto 50px;
		}
		&__content-title {
			br {
				display: none;
			}
		}
		&__products {
			width: 290px;
			background-color: transparent;
			left: auto;
			right: 0;
			top: unset;
			bottom: -430px;
			transform: translate(0, 0);
			.slick-list {
				padding-right: 60px;
			}
		}
		&__products-wrapper {
			margin-right: 20px;
			width: 220px !important;
		}
	}
	@media (max-width: 768px) {
		&__images {
			padding-right: 0px;
			.slick-track {
				.img-wrapper {
					height: 100%;
					img {
						width: unset;
					}
				}
			}
		}
	}
}
.bestseller-section {
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 56px;
	}
	&__head-title {
		font-size: var(--font-size-title) !important;
		line-height: 1.2;
		position: relative;
		svg {
			position: absolute;
			left: -14px;
			top: -6px;
		}
	}
	&__slider {
		.slick-track {
			display: flex;
			.slick-slide {
				height: auto;
				margin: 0 15px;
				.slick-slide {
					margin: 0;
				}
			}
		}
		.slick-list {
			margin: 0 -15px;
			.product-preview-wrapper {
				margin: 0 15px;
				.product-preview {
					width: 100%;
				}
			}
		}
	}
	@media (max-width: 768px) {
		&__head {
			margin-bottom: 40px;
		}
		&__slider {
			.slick-track {
				.slick-slide {
					margin: 0 10px;
				}
			}
			.slick-list {
				margin: 0 -10px;
			}
		}
	}
}
.popular-categories{
	&__head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 50px;
	}
	&__head-title {
		font-size: var(--font-size-title) !important;
		line-height: 1.2;
		position: relative;
		svg {
			position: absolute;
			left: -14px;
			top: -6px;
		}
	}
	&__body {
		position: relative;
	}
	&__body-buttons {
		position: absolute;
		left: 0;
		top: -30px;
		width: 100%;
		height: 100%;
	}
	&__buttons-item {
		display: block;
		width: 22.63%;
		height: 23.8%;
		padding: 30px;
		border: 1px solid #ccccce;
		background: rgba(255, 255, 255, 0.1);
		backdrop-filter: blur(34px);
		margin: 26px 0;
		position: relative;
		z-index: 10;
		span {
			font-size: 26px;
			max-width: 70%;
			font-weight: 700;
		}
		.ico {
			width: 48px;
			height: 48px;
			position: absolute;
			right: 20px;
			bottom: 20px;
			border-radius: 50%;
			background: #fec533;
			display: flex;
			align-items: center;
			justify-content: center;
			color: var(--color-dark);
			opacity: 0;
		}
		&.active {
			background-color: #fff;
			.ico {
				opacity: 1;
			}
		}
		&:hover {
			background-color: #fff;
			.ico {
				opacity: 1;
			}
		}
	}
	&__body-media {
		width: 85.7%;
		margin-left: auto;
	}
	&__media-text {
		max-width: 68%;
		margin: 0 auto 54px;
	}
	&__media-image {
		height: 640px;
		width: 100%;
		img {
			display: block;
			line-height: 0;
			height: 100%;
			width: 100%;
			object-fit: cover;
		}
	}
	@media (max-width: 1080px) {
		&__buttons-item {
			padding: 20px;
			span {
				font-size: 20px;
				max-width: 100%;
			}
			.ico {
				width: 40px;
				height: 40px;
				right: 15px;
				bottom: 15px;
			}
		}
		&__media-text {
			margin: 0 auto 50px;
		}
	}
	@media (max-width: 768px) {
		&__body-buttons {
			overflow-x: auto;
			height: 190px;
			overflow-y: hidden;
			display: flex;
			top: 60px;
			&::-webkit-scrollbar {
				height: 0px !important;
				opacity: 0.5;
			}
		}
		&__buttons-item {
			width: 39vw;
			height: 190px;
			padding: 10px;
			margin: 0 30px 0 0;
			flex: 1 0 auto;
		}
		&__body-media {
			width: 100%;
			margin-left: 0;
		}
		&__media-text {
			max-width: 100%;
			margin-bottom: 110px;
		}
		&__media-image {
			height: 400px;
		}
	}
	@media (max-width: 670px) {
		&__body-buttons {
			height: 120px;
			top: 140px;
		}
		&__buttons-item {
			height: 120px;
			margin: 0 20px 0 0;
		}
		&__media-text {
			margin-bottom: 150px;
		}
	}
	@media (max-width: 500px) {
		&__body-buttons {
			top: 160px;
		}
		&__buttons-item {
			span {
				font-size: 18px;
			}
		}
	}
}
.collections-section {
	.slick-slide img {
		display: block;
		object-fit: cover;
		width: 100%;
	}
	&__arrows {
		position: absolute;
		right: 104px;
		bottom: 253px;
	}
	&__slider-list {
		margin-bottom: 30px;
	}
	&__item.slick-slide {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 78px;
	}
	&__item-img {
		filter: drop-shadow(0px 10px 20px rgba(34, 34, 34, 0.25));
	}
	&__item-body {
		padding-top: 60px;
	}
	&__item-head {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 30px;
	}
	&__item-title {
		font-size: var(--font-size-title);
		line-height: 1.2;
		position: relative;
		svg {
			position: absolute;
			left: -14px;
			top: -6px;
		}
	}
	&__item-subtitle {
		margin-bottom: 15px;
		sup {
			font-size: 14px;
			top: -10px;
		}
	}
	&__item-txt {
		margin-bottom: 30px;
	}
	&__item-all {
		font-weight: 700;
		color: var(--color-accent);
		display: block;
		&:hover {
			text-decoration: underline;
		}
	}
	&__slider-nav {
		margin-top: 30px;
		.slick-list {
			margin-left: -15px;
			padding-left: 15px;
			margin-right: -15px;
		}
		.slick-track {
			display: flex !important;
			.item {
				margin: 0 15px;
				padding-bottom: 10px;
				transition: opacity 0.3s ease-in-out;
				width: 232px;
				height: inherit !important;
				border-bottom: 2px solid transparent;

				&:hover {
					cursor: pointer;
					opacity: 0.7;
				}
				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
				}
				&.slick-current {
					border-bottom: 2px solid #0075c9;
				}
			}
		}
	}
	@media (max-width: 1200px) {
		&__arrows {
			right: 16px;
		}
	}
	@media (max-width: 1024px) {
		&__arrows {
			top: 48%;
		}
		&__item.slick-slide {
			grid-gap: 30px;
		}
		&__item-img {
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		&__item-body {
			padding-top: 30px;
		}
	}
	@media (max-width: 768px) {
		&__arrows {
			display: none;
		}
		&__slider-list {
			margin-bottom: 20px;
			.slick-list {
				overflow: visible;
			}
		}
		&__item.slick-slide {
			grid-template-columns: repeat(1, 1fr);
			grid-gap: 50px;
		}
		&__item-img {
			order: 2;
		}
		&__item-body {
			padding-top: 0;
		}
		&__item-head {
			margin-bottom: 20px;
		}
		&__item-txt {
			margin-bottom: 20px;
		}
		&__slider-nav {
			.slick-list {
				padding-right: 70px;
				margin-left: -15px;
				margin-right: -15px;
			}
			.item {
				margin: 0 15px 0 0 !important;
				padding-bottom: 7px;
			}
		}
	}
}
.product-preview-wrapper {
	position: relative;
	overflow: visible;
}
.product-preview {
	overflow: visible;
	background-color: var(--color-light);
	position: relative;
	border: 1px solid #e6e6e7;
	padding: 37px 26px 26px 26px;
	z-index: 10;
	min-height: 100%;
	transition: border-color 0.3s ease-in-out;
	&:hover {
		z-index: 20;
		position: absolute;
		height: unset;
		border: 1px solid var(--black-50);
		.characteristic {
			height: 195px;
		}
		.quick-view {
			opacity: 1;
		}
	}
	&.unpper-z-index {
		z-index: 20;
	}
	.characteristic {
		height: 0;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
		li {
			color: var(--black-60);
			margin-top: 5px;

			&:first-child {
				margin-top: 16px;
			}

			&:last-child {
				margin-bottom: 16px;
			}

			span {
				color: var(--black-100);
				display: inline-block;
				margin-left: 5px;
			}
		}
	}
	&__markers {
		position: absolute;
		top: 0;
		right: 26px;
		display: flex;
		grid-gap: 7px;
	}
	&__marker {
		min-width: 32px;
		height: 32px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 700;
		font-size: 10px;
		&_new {
			background: var(--color-green);
		}
		&_heat {
			background: var(--color-orange);
		}
		&_percent {
			background: var(--yellow-100);
		}
		&_surprise {
			background: var(--color-purple);
		}
		&_blue {
			background: var(--blue-60);
		}
	}
	&__images-wrapper {
		position: relative;
		.hvr__images {
			position: relative;
		}
		.hvr__sectors {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
		}
		.hvr__sector {
			flex-grow: 1;
		}
		.image {
			display: block;
		}
		.hvr__dots {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-bottom: 15px;
		}
		.hvr__dot {
			width: 33%;
			height: 1px;
			margin: 10px 2px 0;
			background: #d6dbe0;
		}
		.hvr__dot--active {
			background: var(--blue-100);
		}
		.quick-view {
			position: absolute;
			opacity: 0;
			transition: all 0.3s ease-in-out;
			text-align: center;
			padding: 10px;
			font-size: 14px;
			bottom: 15px;
			left: 50%;
			color: var(--black-70);
			font-weight: 700;
			background-color: rgba($color: #fff, $alpha: 0.5);
			transform: translateX(-50%);
			width: 160px;
			border: 1px solid var(--color-border);
			&:hover {
				opacity: 0.7;
			}
		}
	}
	&__images {
		display: flex;
		overflow: hidden;
		justify-content: center;
	}
	&__image-wrapper {
		height: 240px;
		img {
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}
	.slick-list {
		padding-right: 0 !important;
	}
	&__title {
		margin: 15px 0 10px;
		font-weight: 400;
		font-size: 18px;
		line-height: 1.5;
	}
	&__availability {
		margin: 10px 0 35px;
		font-weight: 700;
		font-size: 16px;
		display: flex;
		align-items: center;
		.dot {
			width: 6px;
			height: 6px;
			border-radius: 50%;
			margin-right: 9px;
		}
		&_available {
			color: #00d072;
			.dot {
				background: #00d072;
			}
		}
	}
	&__price {
		font-weight: 700;
		font-size: 26px;
		display: flex;
		align-items: center;
		margin: 20px 0;
		&-current {
			margin-right: 7px;
		}
		&-old {
			font-weight: 400;
			font-size: 18px;
			color: var(--black-60);
			text-decoration: line-through;
		}
	}
	&__buttons {
		display: flex;
		align-items: center;
		.add_to_busket {
			margin-right: 42px;
			font-weight: 700;
			width: 130px;
			height: 48px;
		}
		.compare,
		.favorite {
			background: transparent;
			padding: 0;
			color: var(--color-dark);
			margin-left: auto;
		}
		.compare {
			margin-right: 25px;
		}
	}
	@media (max-width: 1080px) {
		padding: 37px 20px 20px 20px;
		&__marker {
			right: 20px;
		}
		&__title {
			font-size: 16px;
		}
		&__availability {
			margin: 10px 0 25px;
		}
		&__price {
			font-size: 18px;
			margin: 17px 0;
			&-old {
				font-size: 14px;
			}
		}
		&__buttons {
			justify-content: space-between;
			grid-gap: 10px;
			.add_to_busket {
				margin-right: 0;
				width: 98px;
			}
			.compare {
				margin-right: 0;
			}
		}
	}
}
.info-section {
	display: flex;
	&__body {
		flex: 1 auto;
		height: clamp(300px, 80vw, 900px);
	}
	&__item {
		display: none;
		background-size: cover;
		background-position: 0 0;
		height: 100%;
		position: relative;
		padding-left: clamp(30px, calc((100vw - var(--main-container-width)) / 2), 100vw);
		padding-top: 160px;
		padding-right: 100px;
		padding-bottom: 60px;
		&::after {
			content: "";
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(27, 27, 35, 0.7);
		}
		&#bannerid-1 {
			display: block;
		}
	}
	&__item-content {
		position: relative;
		z-index: 1;
		color: #fff;
		p {
			position: relative;
			left: 15px !important;
		}
	}
	&__item-title {
		color: #ffffff !important;
		margin-bottom: 30px;
		position: relative;
		left: 14px !important;
		&::after {
			content: "";
			display: block;
			position: absolute;
			width: 60px;
			height: 60px;
			background: #0075c9;
			left: -22px;
			top: -22px;
			z-index: -1;
		}
	}
	&__toggler {
		width: 360px;
		height: clamp(300px, 80vw, 900px);
	}
	&__button {
		width: 100%;
		height: 33.3333%;
		background: var(--color-dark);
		border: 1px solid var(--black-80);
		flex-direction: column;
		align-items: flex-start;
		padding: 60px;
		text-align: left;
		&:hover {
			background: #35353b;
			border: 1px solid #35353b;
			opacity: 1;
		}
		&.active {
			background: #35353b;
			border: 1px solid #35353b;
			opacity: 1;
			border-bottom: 1px solid #fff;
		}
	}
	&__button-icon {
		margin-bottom: 20px;
		display: block;
	}
	&__button-name {
		font-weight: 700;
		font-size: 26px;
		text-align-last: left;
		max-width: 190px;
	}
	@media (max-width: 1440px) {
		&__button {
			padding: 40px;
		}
		&__button-icon {
			svg {
				width: 60px;
				height: 60px;
			}
		}
		&__button-name {
			font-size: 22px;
		}
	}
	@media (max-width: 992px) {
		&__toggler {
			width: 300px;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
		&__body {
			height: auto;
		}
		&__item {
			padding-top: 80px;
			padding-bottom: 40px;
			padding-left: 20px;
			padding-right: 40px !important;
		}
		&__item-content{
			left: 10px;
		}
		&__item-title {
			margin-bottom: 20px;
		}
		&__toggler {
			width: 100%;
			height: auto;
			display: flex;
		}
		&__button {
			width: 33.3333%;
			height: auto;
			justify-content: center;
			padding: 30px;
			justify-content: flex-start;
		}
		&__button-icon {
			margin-bottom: 15px;
		}
	}
	@media (max-width: 600px) {
		&__item {
			padding-top: 60px;
			padding-right: 20px;
			padding-bottom: 20px;
			padding-left: 20px;
		}
		&__item-title {
			margin-bottom: 20px;
		}
		&__button {
			padding: 8px;
		}
		&__button-name {
			font-size: 14px;
		}
		&__button-icon {
			margin-bottom: 10px;
			svg {
				width: 40px;
				height: 40px;
			}
		}
	}
}
.info-2cols {
	display: flex;
	grid-gap: 87px;
	align-items: center;
	&__img {
		flex: 1 0 auto;
		flex-basis: 50%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			max-height: 580px;
		}
	}
	&__content {
		flex-basis: 50%;
	}
	&__content-title {
		margin-bottom: 40px;
		line-height: 1.2;
		max-width: 482px;
	}
	&__content-list {
		display: flex;
		grid-gap: 13%;
	}
	&__item-icon {
		margin-bottom: 15px;
	}
	&__item-name {
		margin-bottom: 5px;
	}
	@media (max-width: 900px) {
		grid-gap: 30px;
	}
	@media (max-width: 768px) {
		margin: 70px auto;
		&__img {
			display: none;
		}
		&__content {
			flex-basis: 100%;
		}
		&__content-list {
			grid-gap: 30%;
		}
	}
}