button, .btn{
	background-color: var(--color-accent);
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	padding: 10px;
	font-size: 16px;
}
button:hover, .btn:hover{
	opacity: 0.8;
}
button:focus, .btn:focus {
	
}


.btn-blue{
	background-color: var(--color-accent);
	color: var(--color-light);
	&:hover{
		background: #005FA3;
	}
	&:focus{
		background: #00477A;
	}
	&:active{
		background: #FEC533;
		color: #02020A;
	}
	&:disabled{
		background: #9A9A9D;
	}
}
.btn-lg{
	max-width: 198px;
	width: 100%;
	height: 56px;
}
.btn-md{
	max-width: 130px;
	width: 100%;
	height: 48px;
}
.btn-sm{
	max-width: 110px;
	width: 100%;
	height: 40px;
	font-size: 14px;
}

