:root {
	--color-light: #ffffff;
	--color-dark: #02020a;
	--color-border: #e6e6e7;
	--color-background: #fafafa;
	--color-accent: #0075c9;
	--color-green: #00d072;
	--color-red: #ff0000;
	--color-orange: #ff9000;
	--color-purple: #c879ff;

	--color-grey: #595e5b;
	--color-light-grey: #9e9e9e;

	--font-size-main: 16px;
	--font-size-form: 15px;
	--font-size-supertitle: 62px;
	--font-size-detail-title: 38px;
	--font-size-title: 50px;
	--font-size-subtitle: 18px;
	--font-size-small: 12px;

	--font-family-main: "Noah", sans-serif;
	--font-family-title: "Noah", sans-serif;

	--line-height-base: 1.3;

	--main-container-width: 1720px;
	--main-container-padding: 0 20px;

	--blue-100: #0075c9;
	--blue-90: #1a83cf;
	--blue-80: #489cd9;
	--blue-70: #5fa8dd;
	--blue-60: #76b5e2;
	--blue-50: #8cc1e7;
	--blue-40: #a3cdec;
	--blue-30: #badaf1;
	--blue-20: #d1e6f5;
	--blue-10: #e8f3fa;

	--black-100: #02020a;
	--black-90: #1b1b23;
	--black-80: #35353b;
	--black-70: #4e4e54;
	--black-60: #67676c;
	--black-50: #808084;
	--black-40: #9a9a9d;
	--black-30: #b3b3b6;
	--black-20: #ccccce;
	--black-10: #e6e6e7;

	--yellow-100: #fec533;
	--yellow-20: #fff3d6;
	--yellow-10: #fff9eb;

	//additional pages variables

	--text-links-hover: #005fa3;
	--text-links-pressed: #00477a;

	@media (max-width: 1110px) {
		--font-size-title: 36px;
		--font-size-main: 14px;
	}

	@media (max-width: 576px) {
		--font-size-title: 28px;
		--font-size-main: 14px;
		--font-size-detail-title: 24px;
	}
}
