:root {
  --color-light: #FFFFFF;
  --color-dark: #010B05;
	--color-background: #F8F8F8;
	--color-border: #E7E7E7;
	--color-accent: #07984A;

  --color-grey: #595E5B;
  --color-light-grey: #9E9E9E;
  --color-red: #E14F4F;
  --color-green: #07984A;

	--font-size-main: 15px;
	--font-size-form: 15px;
	--font-size-supertitle: 62px;
	--font-size-title: 50px;
	--font-size-subtitle: 18px;
	--font-size-small: 12px;

	--font-family-main: 'Fira Sans', sans-serif;
	--font-family-title: 'Fira Sans', sans-serif;

	--line-height-base: 1.2;

	--main-container-width: 1248px;
	--main-container-padding: 0 15px;
}