@import "resets/_normalize";
@import "resets/_reset.local";
@import "_variables";
@import "_typography";

.absoluteCenter {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.container {
	max-width: var(--main-container-width);
	margin: 0 auto;
	padding-left: 120px;
	padding-right: 120px;

	@media (max-width: 1600px) {
		padding-left: 90px;
		padding-right: 90px;
	}

	@media (max-width: 1250px) {
		padding-left: 30px;
		padding-right: 30px;
	}

	@media (max-width: 768px) {
		padding-left: 20px;
		padding-right: 20px;
	}
}



.hidden {
	opacity: 0;
}
.visible {
	opacity: 1;
}
.overflowed {
	overflow: hidden;
	touch-action: none;
	-ms-touch-action: none;
	-webkit-overflow-scrolling: touch;
}

@import "_header";
@import "_main";
@import "_footer";
@import "_ui";
@import "_popups";
@import "_form";
@import "_additional_pages";
